GCP_PROJECT=your-gcp-project-id
PUBSUB_SUBSCRIPTION=projects/your-gcp-project-id/subscriptions/patient_vital_stream_sub

BRONZE_PATH=gs://your-bucket/bronze/v2/
SILVER_PATH=gs://your-bucket/silver/v2/

BIGQUERY_TABLE=your-gcp-project-id.healthcare.patient_risk_analytics_v2

TEMP_PATH=gs://your-bucket/temp/
STAGING_PATH=gs://your-bucket/staging/

REGION=your-project-region
